body {
  font-size: 18px;
  margin: 0px;
  font-family: "Times New Roman";
  background-color:#FFFFFF;
  text-align: center;
}
/*
  Typography
*/
h1 { font-size: 2em; line-height:1.5em;font-family: "Times New Roman"; text-align: center; color: green;}
h2 { font-size: 1.5em;font-family:"Times New Roman"; color:blue; text-align: center;}
h3 { font-size: 1.25em; text-align: center;font-family:"Times New Roman"; color: blue; }



p  { font-size: 1em }
p:first-child::first-letter {
  font-size: 2em;
  text-decoration: underline;
}
/*links
*/
 a { text-decoration: none; }
a:hover {
  text-decoration:underline;
}
/*
  The Grid
*/
* { /* box-sizing */
  box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.grid {
  margin: 0 0 10px 0;
  padding: 10px;
}
.grid-3-4 { width: 90% }
.grid-1-4 { width: 10% }
[class*='grid-'] {
  float: left;
  padding-right: 10px;
  margin-top: 10px;
}
.grid [class*='grid-']:last-of-type {
  padding-right: 10px; /*offsets above padding*/
}
/*
  Grid Modules
*/
.module {
  padding: 10px;
  height:auto;
}

.module p {
  line-height: 1.5em;
}
.grid:after {
  content: "";
  display: table;
  clear: both;
}
/* OR */
/*
  Background Colors
*/
.bg-color{
  background-color:#FAFAD2;}
/*ul style
*/
/*
  Header
*/
header {
  width: 100%;
  color: #green;
  background-color:#A9A9A9;
  padding: 10px;
  margin-bottom: 10px;
  text-transform: uppercase;
  text-align: center;
}
footer{
  width: 100%;
  color: #green;
  background-color:#A9A9A9;
  padding: 10px;
  margin-bottom: 10px;
  text-transform: uppercase;
  text-align: center;
}
</style>
